{% load static %}

<!DOCTYPE html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>XsenseAi ChatBot</title>
  <meta name="description" content="Ai ChatBot"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  
  <link rel="icon" type="image/jpg" href="{% static 'img/xsense.jpg' %}">
</head>
<body class="text-light bg-dark">
  <!--[if lt IE 7]>
    <p class="browsehappy">
      You are using an <strong>outdated</strong> browser. Please
      <a href="#">upgrade your browser</a> to improve your experience.
    </p>
  <![endif]-->

  <section>
    <div id="home" class="container-fluid">
      <div class="row">
        <div class="col-">
            <div class="row">
                <div class="col m-3">
                    <img style="width: 50%;" src="{% static 'img/xsense.jpg' %}" alt="">
                </div>
                <div class="col m-3">
                    <h1>ChatBot</h1>
                </div>
            </div>
         

          <ul class="nav nav-tabs m-3" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                href="#chat"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >Chat</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="profile-tab"
                data-toggle="tab"
                href="#test"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                >Test</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="contact-tab"
                data-toggle="tab"
                href="#team"
                role="tab"
                aria-controls="contact"
                aria-selected="false"
                >Team</a
              >
            </li>
          </ul>
          <div class="tab-content m-3" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="chat"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
              <h3>Start</h3>
              <p>
                To start chart click the lower pupple bubble to start chart with
                our Robot! 🤓
              </p>
            </div>
            <div
              class="tab-pane fade"
              id="test"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <h4>Paste Your Test Paragraph</h4>
              <textarea
                class="textarea"
                name="test-para"
                id="test-para"
                cols="30"
                rows="10"
                placeholder="Enter Here"
              ></textarea>
              <button type="button" class="btn btn-primary">Save</button>
            </div>
            <div
              class="tab-pane fade"
              id="team"
              role="tabpanel"
              aria-labelledby="contact-tab"
            >
              ...
            </div>
          </div>

          <div class="floating-chat">
            <i class="fa fa-comments" aria-hidden="true"></i>
            <div class="chat">
              <div class="header">
                <span class="title">
                  what's on your mind?
                </span>
                <button>
                  <i class="far fa-window-close"></i>
                </button>
              </div>
              <ul class="messages">
                <li class="other">
                  Ask me Something You! 🐵
                </li>
              </ul>
              <form action="" method="post">
              <div class="footer">
                
                <div
                  id="chat-message-input"
                  class="text-box"
                  contenteditable="true"
                  disabled="true"
                ></div>
                <button type="submit" id="sendMessage">Send</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="https://kit.fontawesome.com/6846e59b4d.js" crossorigin="anonymous"></script>
{% comment %} <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
  integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script> {% endcomment %}
{% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> {% endcomment %}
  
  <script
    language="JavaScript"
    type="text/javascript"
    src="{% static 'js/app.js' %}"
    async
    defer
  ></script>
  <script
    src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"
  ></script>
</body>
</html>
